:root {
    --text-color: #171930;
    --bg-color: #4F86C6;
    --bg-color-2: #4FB0C6;
}

body {
    font-size: 18px;
}
/* .logo-container {

} */
.logo-container-img {
    width: 150px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.hamburger-menu {
    font-size: 5rem;
    cursor: pointer;
    width: 50px;
    height: 100px;
}

.main-container-discover {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}
.main-container-discover > aside {
    width: 100%;
}
.main-container-discover > aside > div {
    background-color: var(--bg-color-2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.photo-discover {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.photo-discover img {
    width: 100%;
    border-radius: 20px;
    opacity: 0.8;
    box-shadow: 5px 5px 10px var(--bg-color);
}

.photo-discover img:hover {
    opacity: 1;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 10px;
}
nav a:first-child {
    display: block;
}

nav.active a {
    display: block;
    font-size: 24px;
}

nav a {
    display: none;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    padding: 20px;
}

nav a:hover {
    background-color: var(--bg-color-2);
}

footer, header {
    background: var(--bg-color);
    color: var(--text-color);
}

.banner-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
}
.btn-action {
    display: block;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 250px;
    border-radius: 15px;
    background-color: var(--text-color);
    color: var(--bg-color);
    text-align: center;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.wrapper-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

section {
    background-color: var(--bg-color-2);
    padding: 20px;
    margin: 0 20px;
}


.developer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}