:root {
    --text-color: #171930;
    --bg-color: #4F86C6;
    --bg-color-2: #4FB0C6;
}

body {
    font-size: 18px;
}
/* .logo-container {

} */
.logo-container-img {
    width: 150px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.hamburger-menu {
    font-size: 5rem;
    cursor: pointer;
    width: 50px;
    height: 100px;
}

.main-container-discover, .main-container-join {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}
.main-container-discover > aside, .main-container-join > aside {
    width: 100%;
}
.main-container-discover > aside > div, .main-container-join > aside > div {
    background-color: var(--bg-color-2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.photo-discover {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.photo-discover img {
    width: 100%;
    border-radius: 20px;
    opacity: 0.8;
    box-shadow: 5px 5px 10px var(--bg-color);
}

.photo-discover img:hover {
    opacity: 1;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 10px;
}
nav a:first-child {
    display: block;
}

nav.active a {
    display: block;
    font-size: 24px;
}

nav a {
    display: none;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    padding: 20px;
}

nav a:hover {
    background-color: var(--bg-color-2);
}

footer, header {
    background: var(--bg-color);
    color: var(--text-color);
}

.banner-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
}
.btn-action {
    display: block;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 250px;
    border-radius: 15px;
    background-color: var(--text-color);
    color: var(--bg-color);
    text-align: center;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.wrapper-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

section {
    background-color: var(--bg-color-2);
    padding: 20px;
    margin: 0 20px;
}


.developer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Join.html Start */
.feedback-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label > input, label > select {
    height: 50px;
    font-size: 24px;
}
label > textarea {
    font-size: 24px;
}

.thanks-block {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
}
/* Join.html End */


/* Directory.html Start */
#put-members {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 50px;
    justify-items: center;
    margin: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 30px;
    height: 650px;
    box-shadow: 5px 3px 20px gray;
    justify-content: space-between;
    margin: 5px;
}
.card img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
}
.black-background {
    background: black;
}

.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #bbb;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}
#put-members.list-members {
    grid-template-columns: 1fr;
    grid-gap: 0;
}
.list-members > .card > *:not(.show-in-list) {
    display: none;
}

.list-members > .card {
    flex-direction: row;
    height: auto;
    padding: 5px 20px;
    border: 1px solid black;
    box-shadow: none;
    max-width: none;
    width: 100%;
    justify-content: space-between;
}
.list-members > .card > .show-in-list {
    width: 100px;
}
.list-members > .card:nth-child(odd) {
    background-color: var(--bg-color-2);
}
/* Directory.html End */


.spotlights-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spotlights-list .card {
    background-color: antiquewhite;
}

.banner-main {
    background-color: var(--text-color);
    height: 200px;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.banner-main p {
    font-size: 24px;
    font-weight: bold;
    color: var(--bg-color);
    text-align: center;
    max-width: 600px;
}
.show-banner.banner-main {
    display: flex;
}