body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: end;
    flex-direction: column-reverse;
    align-items: center;
    background: black;
}
nav * {
    padding: 20px 50px;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-around;
    color: white;
    background: #174e70;
}
.header-img {
    max-width: 200px;
    margin: 20px;
    border-radius: 30px;
}
main {
    max-width: 760px;
    margin: 1rem auto;
    padding: 0 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.make-dark {
    background-color: black;
}
.make-dark .card {
    background-color: black;
    color: white;
}

.card {
    background: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px 3px gray;
    margin-bottom: 40px;
}


h3 {
    background: #174e70;
    text-align: center;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    margin: 0;
}

.card > *:not(:first-child) {
    padding: 20px;
}


ul {
    list-style: none;
    margin: 0;

}

li {
    padding: 5px;
}

.temple-img {
    position: relative;
}

.temple-img img {
    width: 100%;
    height: auto;
}

.name-nauvoo-temple, .name-madrid-temple {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    padding: 20px;
    width: 200px;
    margin: auto;
    background-color: gray;
    font-size: 24px;
}
.name-madrid-temple {
    display: block;
    font-size: 18px;
}

.map {
    max-width: 760px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}

footer {
    background: #174e70;
    text-align: center;
    color: white;
    padding: 10px;
}